.modal.black-text{id: 'modal_' + topic_id.to_s}
  .modal-content
    %h5 Add POI delegates
    - if speech_delegates(topic_id).any?
      = form_tag add_speech_mod_index_path, remote: true,  method: :post do
        %ul.rolecall-delegates
          - speech_delegates(topic_id).each do |delegate|
            %li
              %p
                = hidden_field_tag('topic_id', value = topic_id)
                = hidden_field_tag('delegate_to_country', value = topic_country)
                = check_box_tag "delegate_ids[]", delegate.id, nil, id: "for_#{topic_country}_delegate_ids_#{delegate.id}"
                = label_tag "for_#{topic_country}_delegate_ids[#{delegate.id}]", delegate.country
        .modal-footer
          = submit_tag "Add to Speaker's List", class: 'btn  indigo lighten-1'
    - else
      %p.black-text All Delegates have made a Speech for this topic !
