#modal1.modal.black-text
  .modal-content
    %h5 Add a Moderated Caucus Topics
    = form_tag add_topic_mod_index_path, remote: true,  method: :post do
      .spacer-modal-form
      .input-field
        = text_field_tag 'title', nil,  required: true
        = label_tag 'title'
      .input-field
        = select_tag "delegate_id", options_from_collection_for_select(delegates, "id", "country"), class: 'browser-default'
      .modal-footer
        = submit_tag "Add to Speaker's List", class: 'btn  indigo lighten-1'
