- if mod_topics.any?
  %ul.collapsible.black-text{"data-collapsible" => "expandable"}
    - mod_topics.each do |topic|
      = render(partial: 'topic_list', locals: {topic: topic})
:javascript
  $(document).ready(function(){
    $('.collapsible').collapsible({
          accordion : false
        });
    $(".collapsible-header a").click(function(e) {
      e.stopPropagation();
    });

    $('.topic-list-score').on('change', function() {
      $.ajax({
         url: "#{update_topic_mark_mod_index_path}",
         data: {
             mark: $(this).val(),
             topic_id: $(this).attr('name')
         },
         dataType: "script"
      });
    });
    $('.topic-list-speech-score').on('change', function() {
      $.ajax({
         url: "#{update_speech_mod_index_path}",
         data: {
             mark: $(this).val(),
             country: $(this).attr('country'),
             topic_id: $(this).attr('topic_id')
         },
         dataType: "script"
      });
    });
    $(".delete-topic").click(function(){
      if (confirm("You are about to delete the Topic submitted by " + $(this).attr('delegate_country') , " are you sure ?")){
        $.ajax({
           url: "#{delete_topic_mod_index_path}",
           data: {
               topic_id: $(this).attr('topic_id')
           },
           dataType: "script"
        });
      }
    });
    $(".delete-speech").click(function(){
      if (confirm("You are about to delete the speech by " + $(this).attr('country') , " are you sure ?")){
        $.ajax({
           url: "#{delete_speech_mod_index_path}",
           data: {
               speech_id: $(this).attr('speech_id')
           },
           dataType: "script"
        });
      }
    });
    
  });
