.col.s10
  %ul.collapsible.black-text
    - topic.mod_speeches.each do |speech|
      %li
        .collapsible-header
          .col.s4
            = speech.country
          .col.s5
            .input-field.poi-input
              %input.validate.topic-list-speech-score{:placeholder => "Score", :type => "number", min: 0, max: 10, country: speech.country, value: speech.mark, topic_id: topic.id }
          %a.btn-floating.btn-floating-speaker-list.btn-small.waves-effect.waves-light.red.right.delete-speech{speech_id: speech.id, country: speech.country}
            %i.material-icons remove
