%li
  .collapsible-header
    %a.btn-floating.btn-floating-speaker-list.btn-small.waves-effect.waves-light.teal.add-icon{id: "modal_link_#{topic.id}" }
      %i.material-icons add
    %a.btn-floating.btn-floating-speaker-list.btn-small.waves-effect.waves-light.red.right.delete-topic{topic_id: topic.id,
    delegate_country: topic.delegate.country}
      %i.material-icons remove
    = topic.title
  .collapsible-body
    .row.speaker-list-row
      .col.s2.input-field.speech-input
        .z-depth-1.score
          %input.topic-list-score.validate{:placeholder => "Score", :type => "number", min: 0, max: 10, value: topic.mark, name: topic.id}
      - if topic.has_mod_speeches?
        = render 'speech', topic: topic
  .topic-modal
    = render(partial: 'add_to_speech_modal', locals: {topic_country: topic.delegate.country, topic_id: topic.id, delegate_to_id:topic.delegate.id} )


:javascript
  $(document).ready(function(){
    $("#modal_link_#{topic.id}").click(function() {
      $("#modal_#{topic.id}").openModal();
    });

  });
