$("#modal1").closeModal();
$('#session_content').html( "<%= escape_javascript( render 'session_content') %>");
Materialize.toast("Added a Moderated Caucus topic by <%= escape_javascript(@delegate_country) %> !", 4000);
