$("#modal_<%= escape_javascript(@topic_id) %>").closeModal();
$('#session_content').html( "<%= escape_javascript( render 'session_content') %>")
Materialize.toast("Speech added for <%= escape_javascript(@delegate_to_country) %> !", 4000);
