.row
  .col.s12
    .card.blue.lighten-2
      .card-content.white-text
        %span.card-title#session-title
          Moderated Caucus
          - unless mod_topics.any?
            &mdash; No Topics have been added
        .speak-list-modal
          = render 'add_to_topic_modal'
        #session_content
          = render 'session_content'
    = render 'fab'
