$('#session_content').html( "<%= escape_javascript( render 'session_content') %>");
Materialize.toast("Updated the score for the Moderated Caucus topic by <%= escape_javascript(@topic.delegate.country) %> !", 4000);
