.row
  .center-align
    .preloader-wrapper.medium.active.center-align
      .spinner-layer.spinner-white-only
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
