.row
  .col.m6.offset-m3
    .card.blue.lighten-1.hoverable
      .card-content.white-text
        %span.card-title Welcome
        %p
          Welcome to the SLMUN Conference System.
    .center-align
      %a{ class: "waves-effect waves-light btn  indigo lighten-1", href: "#" } Register
      %a{ class: "waves-effect waves-light btn  indigo lighten-1", href: "#" } Login
