= form_tag complete_rolecall_index_path, remote: true,  method: :put do
  - if @delegates.any?
    %ul.rolecall-delegates
      = hidden_field_tag :session_id, @session_id.to_i
      - @delegates.each do |delegate|
        %li
          %p
            = check_box_tag "delegate_ids[]", delegate.id, nil, id: "delegate_ids_#{delegate.id}"
            = label_tag "delegate_ids[#{delegate.id}]", delegate.country
    = submit_tag "Mark as Present", class: 'btn  indigo lighten-1'
  - else
    %p.white-text All Delegates are present !
