.row
  .col.s12
    .input-field
      %select#session_id
        %option{value: 1} Session 1
        %option{value: 2} Session 2

    .card.blue.lighten-2
      .card-content.black-text
        %span.card-title#session-title Rolecall Session 1
        #session_content
          = render 'session_form'

:javascript
  $(document).ready(function() {
    $('#session_id').on('change', function() {
      $('#session-title').html(" <div class='center-align'>Give us a second ... </div>" );
      $('#session_content').html("#{escape_javascript(render 'shared/circular_loader')} ");

      $.ajax({
         url: "#{update_session_id_rolecall_index_path}",
         data: {
             session_id: $("#session_id option:selected").val()
         },
         dataType: "script"
      });
    });
  });
