#modal1.modal.black-text
  .modal-content
    %h5 Add Delegates to Speaker's List
    - if not_to_speak_delegates.any?
      = form_tag complete_speechlist_index_path, remote: true,  method: :put do
        %ul.rolecall-delegates
          - not_to_speak_delegates.each do |delegate|
            %li
              %p
                = check_box_tag "delegate_ids[]", delegate.id, nil, id: "delegate_ids_#{delegate.id}"
                = label_tag "delegate_ids[#{delegate.id}]", delegate.country
        .modal-footer
          = submit_tag "Add to Speaker's List", class: 'btn  indigo lighten-1'
    - else
      %p.black-text All Delegates have been added to the Speaker's List !
