.modal.black-text{id: 'modal_' + delegate_country}
  .modal-content
    %h5 Add POI delegates
    - if poi_delegates(delegate_country).any?
      = form_tag add_poi_speechlist_index_path, remote: true,  method: :post do
        %ul.rolecall-delegates
          - poi_delegates(delegate_country).each do |delegate|
            %li
              %p
                = hidden_field_tag('delegate_to', value = delegate_to_id)
                = hidden_field_tag('delegate_to_country', value = delegate_country)
                = check_box_tag "delegate_ids[]", delegate.id, nil, id: "for_#{delegate_country}_delegate_ids_#{delegate.id}"
                = label_tag "for_#{delegate_country}_delegate_ids[#{delegate.id}]", delegate.country
        .modal-footer
          = submit_tag "Add to Speaker's List", class: 'btn  indigo lighten-1'
    - else
      %p.black-text All Delegates have asked a POI from this Delegate !
