.fixed-action-btn{:style => "bottom: 45px; right: 24px;"}
  %a.btn-floating.btn-large.red.modal-trigger.modal-close{href: '#modal1'}
    %i.large.material-icons add
  -# %ul
  -#   %li
  -#     %a.btn-floating.red
  -#       %i.material-icons insert_chart
