%ul.collapsible.black-text{"data-collapsible" => "expandable"}
  - delegates.each do |delegate|
    = render(partial: 'speech', locals: {delegate: delegate, class_name: has_spoken(delegate) })
:javascript
  $(document).ready(function() {
    $('.speaker-list-score').on('change', function() {
      $.ajax({
         url: "#{update_mark_speechlist_index_path}",
         data: {
             mark: $(this).val(),
             delegate_id: $(this).attr('name')
         },
         dataType: "script"
      });
    });
  });
