.col.s10
  %ul.collapsible.black-text
    - delegate.poi_speeches.each do |poi|
      %li
        .collapsible-header
          .col.s4
            = poi.country
          .col.s5
            .input-field.poi-input
              %input.validate.speaker-list-poi-score{:placeholder => "Score", :type => "number", min: 0, max: 5, country: poi.country, value: poi.mark, delegate_id: delegate.id }
          %a.btn-floating.btn-floating-speaker-list.btn-small.waves-effect.waves-light.red.right.delete-poi{delegate_to: delegate.id, delegate_by: poi.country,
          delegate_by_country: delegate.country}
            %i.material-icons remove
