- if to_speak_delegates.any? or spoken_delegates.any?
  %ul.collapsible.black-text{"data-collapsible" => "expandable"}
    - to_speak_delegates.each do |delegate|
      = render(partial: 'speech', locals: {delegate: delegate, class_name: ''})
    - spoken_delegates.each do |delegate|
      = render(partial: 'speech', locals: {delegate: delegate, class_name: 'blue-grey lighten-5'})
:javascript
  $(document).ready(function(){
    $('.collapsible').collapsible({
          accordion : false
        });

    $('.speaker-list-score').on('change', function() {
      $.ajax({
         url: "#{update_mark_speechlist_index_path}",
         data: {
             mark: $(this).val(),
             delegate_id: $(this).attr('name')
         },
         dataType: "script"
      });
    });
    $('.speaker-list-poi-score').on('change', function() {
      $.ajax({
         url: "#{update_poi_speechlist_index_path}",
         data: {
             mark: $(this).val(),
             country: $(this).attr('country'),
             delegate_id: $(this).attr('delegate_id')
         },
         dataType: "script"
      });
    });
    $(".collapsible-header a").click(function(e) {
      e.stopPropagation();
    });
    $(".delete-speech").click(function() {
      if (confirm("You are about to delete the speech by " + $(this).attr('delegate_country') + ", are you sure ?")){
        $.ajax({
           url: "#{delete_mark_speechlist_index_path}",
           data: {
               delegate_id: $(this).attr('delegate_id')
           },
           dataType: "script"
        });
      }
    });
    $(".delete-poi").click(function() {
      if (confirm("You are about to delete the POI by " + $(this).attr('delegate_by') + " for " + $(this).attr('delegate_by_country') + ", are you sure ?")){
        $.ajax({
           url: "#{delete_poi_speechlist_index_path}",
           data: {
               delegate_to: $(this).attr('delegate_to'),
               delegate_by: $(this).attr('delegate_by')
           },
           dataType: "script"
        });
      }
    });
  });
