%li
  .collapsible-header{class: class_name}
    %a.btn-floating.btn-floating-speaker-list.btn-small.waves-effect.waves-light.teal.add-icon{id: 'modal_link_' + delegate.country}
      %i.material-icons add
    %a.btn-floating.btn-floating-speaker-list.btn-small.waves-effect.waves-light.red.right.delete-speech{delegate_id: delegate.id, delegate_country: delegate.country}
      %i.material-icons remove
    = delegate.country
  .collapsible-body
    .row.speaker-list-row
      .col.s2.input-field.speech-input
        .z-depth-1.score
          %input.speaker-list-score.validate{:placeholder => "Score", :type => "number", min: 0, max: 10, name: delegate.id, value: delegate.speech }
      - if delegate.has_poi?
        .poi
          = render(partial: 'poi', locals: {delegate: delegate} )
  .poi-modal
    = render(partial: 'add_poi_modal', locals: {delegate_country: delegate.country, delegate_to_id: delegate.id} )

:javascript
  $(document).ready(function(){
    $( "#modal_link_#{delegate.country}" ).click(function() {
      $("#modal_#{delegate.country}").openModal();
    });
  });
