$("#modal_<%= escape_javascript(@delegate_to_country) %>").closeModal();
$('#session_content').html( "<%= escape_javascript( render 'speaker_list') %>")
Materialize.toast("POI added for <%= escape_javascript(@delegate_to_country) %> !", 4000);
