$('#modal1').closeModal();
$('.speak-list-modal').html( "<%= escape_javascript( render 'add_to_speaker_list_modal') %>")
$('#session_content').html( "<%= escape_javascript( render 'speaker_list') %>")
