$('#session_content').html( "<%= escape_javascript( render 'speaker_list') %>")
Materialize.toast("POI by <%= escape_javascript(@delegate_from) %> for <%= escape_javascript(@delegate_to.country) %> has been deleted ! ", 4000);
