.row
  .col.s12
    .card.blue.lighten-2
      .card-content.white-text
        %span.card-title#session-title
          Speaker's List
          .input-field
            %input#filter-countries.validate{:placeholder => "Search Country", :type => "text"}
        .speak-list-modal
          = render 'add_to_speaker_list_modal'
        #session_content
          = render 'speaker_list'
    = render 'fab'

:javascript
  $(document).ready(function() {
    $('#filter-countries').on(
      {
        input: function(){
          if ($(this).val() != "") {
            $('#session_content').html("#{escape_javascript(render 'shared/circular_loader')} ");
            $.ajax({
               url: "#{filter_speechlist_index_path}",
               data: {
                   country_name: $(this).val()
               },
               dataType: "script"
          });
          } else if ($(this).val() == "") {
            $('#session_content').html("#{escape_javascript(render 'speaker_list')}");
          }
        },
        change: function(){
          if ($(this).val() == "") {
            $('#session_content').html("#{escape_javascript(render 'speaker_list')}");
          }
        }
      });
    });
