// layout css
.grid-example {
  background-color: #26a69a;
}
.spacer {
  margin-top: 10px;
}
.spacer-modal-form{
  margin-top: 30px;
}

//rolecall

input[type="checkbox"]:checked {
  + label {
    &::before {
      border-right: #0d47a1 solid 2px !important;
      border-bottom: #0d47a1 solid 2px !important;
    }
  }
}
p label {
  color: #263238 !important;
}
.spinner-white-only {
  border-color: #fff;
}
.active .spinner-layer.spinner-white-only {
  /* durations: 4 * ARCTIME */
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}
.collapsible {
  border-right: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
}
.collapsible-header {
  i {
    margin-right: 0.25rem !important;
  }
  a:last-child {
    margin-top: 11px;
  }
  .add-icon {
    margin-right: 0.45rem !important;
  }
}
.collapsible-body {
  border-bottom: 1px solid transparent !important;
}
.speaker-list-row {
  margin-bottom: 0 !important;
  .collapsible {
    margin-top: 0.40rem !important;
    margin-bottom: 0.5rem !important;
  }
  .speech-input {
    margin-top: 0.25rem !important;
  }
  input {
    background-color: #fff !important;
    margin-bottom: 0 !important;
    text-align: center;
  }
  .score {
    margin-left: 0.7rem !important;
    margin-bottom: 0.45rem !important;
    margin-top: 0.15rem !important;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }
  :-ms-input-placeholder {
    text-align: center;
  }
}
.btn-floating-speaker-list {
  height: 25px !important;
  width: 25px !important;
  i {
    line-height: 1.6rem !important;
    width: inherit !important;
    font-size: 1.3rem !important;
  }
}
.card-title {
  .input-field {
    margin-top: 0 !important;
    input {
      border-bottom-color: #eceff1;
    }
  }
  ::-webkit-input-placeholder {
    color: #fff;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #fff;
  }
}
.poi-input {
  display: inline-block !important;
  height: 2.2rem !important;
  width: 90% !important;
  margin-top: 0rem !important;
  margin-bottom: 0.25rem !important;
  input[type="number"] {
    height: 2rem !important;
    border-bottom: 1px solid #b0bec5;
  }
}
#toast-container {
  top: 15% !important;
  right: 2% !important;
}
