!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MUN Conference System
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.blue.darken-3
      .nav-wrapper
        %a.brand-logo.center{ href: root_path } MUN
        %ul#nav-mobile.right.hide-on-med-and-down
          %li{class: active_navigation('rolecall', params[:controller])}
            %a{ href: rolecall_index_path } Role Call
          %li{class: active_navigation('speechlist', params[:controller])}
            %a{ href: speechlist_index_path } Speaker's List
          %li{class: active_navigation('mod', params[:controller])}
            %a{ href: mod_index_path } Moderated Caucus

    .container
      .spacer
      = yield
      = debug(params) if Rails.env.development?
